@page
@model WebApplication.Pages.AdminHomeModel
@{
}

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    <h1>
     <ul>
                  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/DroitUtilisateur/Produits/IndexP">Gestion des vins</a>
                        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Utilisateurs/Index">Gestion des employés</a>
        </li>
                    </ul>
    </h1>


</body>
</html>
