@page
@model IndexModel
@{
    ViewData["Title"] = "Page d'Acceuil";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>



</body>
</html>

